<ion-content has-bouncing="false">
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" align="center">
                <h1 style="margin-top:200px">Slide 1</h1></div>
            <div class="swiper-slide" align="center">
                <h1 style="margin-top:200px">Slide 2</h1></div>
            <div class="swiper-slide" align="center">
                <h1 style="margin-top:200px">Slide 3</h1></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <!--<div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>-->

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar" ng-show="false"></div>
    </div>
</ion-content>
<ion-footer-bar align-title="left" class="bar-assertive welcome-footer-bar">
    <button class="button button-block button-positive get-started-button" ng-click="goToLogin()">
        <h4>Get Started</h4>
    </button>
</ion-footer-bar>