<ion-header-bar class="bar bar-header bar-positive" style="background-color:black">
    <h1 class="title" align="center">Prototype</h1>
</ion-header-bar>

<ion-content has-bouncing="false" style="margin:0">

    <div class="row" style="margin:0;margin-top:10px;height:310px;border-bottom:2px solid gray">
        <div class="list col-md-6 col-xs-12 col-sm-12 col-centered">
            <h3><b> Login</b></h3>
            <br>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="john@email.com">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="*****">
            </label>
            <button class="button button-block button-positive">
                Login
            </button>
            <div align="center">
                <input type="checkbox"> Remember Me
                <a href=""> <b>Forgot Password?</b></a>
            </div>

        </div>
    </div>

    <div class="row" style="margin-left:0">
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;padding:0;width:100vw">
            <div align="center">

                <h5 align="center">or login with</h5>
                <img src="img/facebook-icon.png" style="height:50px;width:50px;margin:10px"></img>
                <img src="img/instagram-icon.png" style="height:50px;width:50px;margin:10px"></img>
                <img src="img/twitter-icon.png" style="height:50px;width:50px;margin:10px"></img>
                <img src="img/google-plus-icon.png" style="height:50px;width:50px;margin:10px"></img>
            </div>
        </div>

    </div>
    

</ion-content>
    <ion-footer-bar class="row" style="margin-left:20px;margin-right:20px;padding:0;height:60px">
        <div class="col-md-6 col-sm-12 col-xs-12 col-centered" style="padding:0;margin:0;padding-right:40px">
            <div align="center">
                <button class="button button-block button-positive" style="border-radius: 10!important;
    margin:0!important;
    padding:0!important;
    padding-right:20px;
    width:100%;
    height:45px">
                    <h5>New User? Sign up now</h5>
                </button>
            </div>
        </div>
    </ion-footer-bar>