/* Empty. Add your own CSS if you like */
.swiper-container {
    width: 100vw!important;
    height: calc(100vh - 64px)!important;
    background-color: black;
} 

.welcome-footer-bar {
     padding:0;
     height:65px;
}

.get-started-button {
    border-radius: 0!important;
    margin:0!important;
    width:100%!important;
    background-color:black!important;
    border-top: 1px solid white!important;
}
.get-started-button:active {
background-color:#050F0F!important;
}

.swiper-pagination-bullet {
    opacity: 1!important;
    background: white!important;
}
.swiper-pagination-bullet-active {
    opacity: 1!important;
    background: #00ccff!important;
}


.col-centered {
    /* reset the text-align */
    text-align:left;
     margin: 0 auto!important;
}